In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
consumidor = pd.read_csv('user_demographics_v1.csv')

In [4]:
consumidor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   uid       10000 non-null  float64
 1   reg_date  10000 non-null  object
 2   device    10000 non-null  object
 3   gender    10000 non-null  object
 4   country   10000 non-null  object
 5   age       10000 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 468.9+ KB

In [5]:
compra = pd.read_csv('purchase_data_v1.csv')

In [6]:
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9006 entries, 0 to 9005
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9006 non-null   object
 1   uid     9006 non-null   int64
 2   sku     9006 non-null   object
 3   price   9006 non-null   int64
dtypes: int64(2), object(2)
memory usage: 281.6+ KB

In [7]:
compra_consumidor = compra.merge(consumidor, on = 'uid', how = 'inner')

In [8]:
compra_consumidor.head()

,date,uid,sku,price,reg_date,device,gender,country,age
0,2017-07-10,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
1,2017-07-15,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
2,2017-11-12,41195147,sku_four_599,599,2017-06-26T00:00:00Z,and,M,BRA,17
3,2017-09-26,91591874,sku_two_299,299,2017-01-05T00:00:00Z,and,M,TUR,17
4,2017-12-01,91591874,sku_four_599,599,2017-01-05T00:00:00Z,and,M,TUR,17

In [9]:
len(compra_consumidor)

9006

In [10]:
compra_consumidor.shape

(9006, 9)

In [11]:
consumidor = consumidor.rename(columns = {'reg_date':'date'})

In [12]:
consumidor.columns

Index(['uid', 'date', 'device', 'gender', 'country', 'age'], dtype='object')

In [13]:
compra_consumidor2 = consumidor.merge(compra,on=['uid','date'])

In [14]:
compra_consumidor2

Empty DataFrame
Columns: [uid, date, device, gender, country, age, sku, price]
Index: []

In [15]:
compra.head()

         date       uid            sku  price
0  2017-07-10  41195147  sku_three_499    499
1  2017-07-15  41195147  sku_three_499    499
2  2017-11-12  41195147   sku_four_599    599
3  2017-09-26  91591874    sku_two_299    299
4  2017-12-01  91591874   sku_four_599    599

In [16]:
compra['price'].mean()

406.77259604707973

In [17]:
compra['price'].median()

299.0

In [18]:
compra.agg({'price':'mean','price':'median'})

price    299.0
dtype: float64

In [19]:
# novo
compra['price'].agg(['mean','median'])

mean      406.772596
median    299.000000
Name: price, dtype: float64

In [20]:
compra_consumidor2.agg({'price':'mean','price':'median', 'age':'mean','age':'median'})

price   NaN
age     NaN
dtype: float64

In [21]:
compra_consumidor2[['price','age']].agg(['mean','median'])

        price  age
mean      NaN  NaN
median    NaN  NaN

In [22]:
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9006 entries, 0 to 9005
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9006 non-null   object
 1   uid     9006 non-null   int64
 2   sku     9006 non-null   object
 3   price   9006 non-null   int64
dtypes: int64(2), object(2)
memory usage: 281.6+ KB

In [23]:
consumidor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   uid      10000 non-null  float64
 1   date     10000 non-null  object
 2   device   10000 non-null  object
 3   gender   10000 non-null  object
 4   country  10000 non-null  object
 5   age      10000 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 468.9+ KB

In [24]:
compra_consumidor2['price'].unique()

array([], dtype=int64)

In [25]:
consumidor['date'] = pd.to_datetime(consumidor['date'], infer_datetime_format=True, errors='coerce')

In [26]:
consumidor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   uid      10000 non-null  float64
 1   date     10000 non-null  datetime64[ns]
 2   device   10000 non-null  object
 3   gender   10000 non-null  object
 4   country  10000 non-null  object
 5   age      10000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 468.9+ KB

In [27]:
compra['date'] = pd.to_datetime(compra['date'], infer_datetime_format = True, errors='coerce')

In [28]:
compra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9006 entries, 0 to 9005
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9006 non-null   datetime64[ns]
 1   uid     9006 non-null   int64
 2   sku     9006 non-null   object
 3   price   9006 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 281.6+ KB

In [29]:
compra_consumidor = compra.merge(consumidor, on = ['uid','date'], how ='inner')

In [31]:
compra_consumidor[['price','age']].agg(['mean','median'])

             price        age
mean    470.428571  22.771429
median  499.000000  20.000000

In [32]:
compra_consumidor.agg({'price':['mean','median'], 'age':['mean','median']})

             price        age
mean    470.428571  22.771429
median  499.000000  20.000000

In [33]:
compra_consumidor_grupo = compra_consumidor.groupby(['device','gender'])

In [34]:
consumidor_sumario = compra_consumidor_grupo.agg({'price':['mean','median','std']})

In [35]:
consumidor_sumario

                    price
                     mean median         std
device gender
and    F       477.571429    499  200.685638
       M       511.500000    549  229.518129
iOS    F       427.571429    599  221.466971
       M       449.000000    499  164.316767

______________

In [36]:
from datetime import datetime, timedelta

In [37]:
current_date = '2018-03-17'

In [38]:
current_date = pd.to_datetime('2018-03-17')

In [39]:
max_data_compra = current_date - timedelta(days=28)

In [40]:
max_data_compra

Timestamp('2018-02-17 00:00:00')

In [41]:
compra_consumidor_filtro = compra_consumidor[compra_consumidor['date']<max_data_compra]

In [42]:
type(compra_consumidor_filtro)

pandas.core.frame.DataFrame

In [43]:
compra_consumidor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     35 non-null     datetime64[ns]
 1   uid      35 non-null     int64
 2   sku      35 non-null     object
 3   price    35 non-null     int64
 4   device   35 non-null     object
 5   gender   35 non-null     object
 6   country  35 non-null     object
 7   age      35 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 3.7+ KB

In [44]:
compra_consumidor['date'].max()

Timestamp('2018-03-16 00:00:00')

In [45]:
compra_consumidor['date'].min()

Timestamp('2015-07-09 00:00:00')

In [46]:
# filtrando com duas condições para conter somente os primeiros 28 dias depois do registro
compra_consumidor_filtro = compra_consumidor_filtro[(compra_consumidor_filtro['date'] <=compra_consumidor_filtro['date'] + timedelta(days=28))]

In [47]:
compra_consumidor_filtro.head(3)

        date       uid             sku  price device gender country  age
0 2016-03-30  94055095    sku_four_599    599    iOS      F     BRA   16
1 2015-10-28  69627745     sku_one_199    199    and      F     BRA   18
2 2017-02-02  11604973  sku_seven_1499    499    and      F     USA   16

In [48]:
compra_consumidor_filtro['price'].mean()

483.375

In [49]:
data_max_reg = current_date - timedelta(days=28)

In [50]:
type(data_max_reg)

pandas._libs.tslibs.timestamps.Timestamp

In [51]:
compra_consumidor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     35 non-null     datetime64[ns]
 1   uid      35 non-null     int64
 2   sku      35 non-null     object
 3   price    35 non-null     int64
 4   device   35 non-null     object
 5   gender   35 non-null     object
 6   country  35 non-null     object
 7   age      35 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 3.7+ KB

In [52]:
mes1 = np.where((compra_consumidor['date'] < data_max_reg) & 
                (compra_consumidor['date'] < compra_consumidor['date'] + timedelta(days=28)), compra_consumidor['price'] , np.NaN)

In [53]:
mes1

array([599., 199., 499., 599.,  nan, 899., 299., 599., 299., 199.,  99.,
       599., 499., 599., 499., 899., 599., 599., 299., 199., 599., 499.,
        nan, 499., 599., 499., 599., 499.,  99., 599., 499., 599., 599.,
        nan, 199.])

In [54]:
compra_consumidor['mes1'] = mes1

In [55]:
compra_consumidor.columns

Index(['date', 'uid', 'sku', 'price', 'device', 'gender', 'country', 'age',
       'mes1'],
      dtype='object')

In [56]:
compra_consumidor_update = compra_consumidor.groupby(['gender','device'])

In [57]:
compra_consumidor_update

In [58]:
compra_consumidor_update = compra_consumidor.groupby(['gender','device'], as_index = False)

In [59]:
compra_consumidor_update

In [60]:
compra_consumidor_update.agg({'mes1':['mean','median'],'price':['mean','median']})

  gender device        mes1              price
                       mean median        mean median
0      F    and  475.923077  499.0  477.571429    499
1      F    iOS  427.571429  599.0  427.571429    599
2      M    and  511.500000  549.0  511.500000    549
3      M    iOS  549.000000  549.0  449.000000    499